# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folders
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files
*.csv
*.tsv
*.json

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific folders
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
